body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-image: url("/assets/iStock-1002864544.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  max-width: 1260px;
}

main > section {
  margin-top: 50px;
  padding: 100px;
  color: white;
}

#projects > section {
  margin-top: 150px;
  color: white;
}

.api-link {
  color: rgb(89, 196, 204);
}

.container img {
  max-width: 400px;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 60px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .link {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

.cta-btn {
  color: rgb(255, 255, 255);
  background-color: inherit;
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

.cta-btn:hover {
  color: rgb(11, 104, 162);
}

li {
  list-style: none;
  font-weight: 600;
  color: white;
  margin: 10px 30px;
  font-size: 1.3rem;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
}

#contact {
  color: black;
}

#contact .link {
  color: black;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.about {
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}

.about-text {
  max-width: 436px;
  font-size: 0.9rem;
}

.about-links {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.brand-logos {
  max-width: 200px;
  max-height: 100px;
}

.links-container {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  flex-direction: column;
  justify-content: center;
}

#headshot {
  border-radius: 50%;
  width: 170px;
}

.project-btn button {
  margin: 5px 8px 0px 8px;
}

footer {
  margin-top: 100px;
  padding: 20px;
}

footer .link {
  color: rgb(0, 0, 0);
}

.top-link {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.4rem;
  background-color: rgb(0, 0, 0);
  padding: 10px 40px;
  border-radius: 7px;
  border: 3px solid white;
}

@media (min-width: 770px) {
  body,
  main,
  header,
  .nav-desktop ul,
  .about {
    display: flex;
  }

  body,
  main,
  header,
  .nav-desktop ul {
    flex-direction: column;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 30px;
  }

  .about {
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
  }

  #headshot {
    width: 270px;
  }

  .about-text {
    max-width: 436px;
    font-size: 1.2rem;
  }

  footer {
    padding-top: 100px;
  }

  main,
  footer {
    align-items: center;
    margin: 0 auto;
  }

  .container img {
    max-width: 700px;
  }
}

@media (min-width: 1035px) {
  .logo {
    margin: 27px 0px 0px 10px;
  }

  .nav-container {
    order: 2;
  }

  .nav-desktop ul {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
